<p>Here's what it looks like:</p>
<div class='pure-u-1' style='background-color:{{palette.bg}}; padding: 20px;'>
  <h1 style='color:{{palette.textPrimary}}'>Article</h1>
  <hr style='border-color:{{palette.highlightSecondary}}'>
  <p style='color:{{palette.textPrimary}}'>Here's some text you asked for.</p>
  <a style='color:{{palette.highlightPrimary}}'>Link</a>
</div>
