<p>Choose highlight color:</p>
{{link-to 'Blue' 'palette' (query-params highlight='blue') classNames='pure-button'}}
{{link-to 'Green' 'palette' (query-params highlight='green') classNames='pure-button'}}
{{link-to 'Red' 'palette' (query-params highlight='red') classNames='pure-button'}}
{{link-to 'Purple' 'palette' (query-params highlight='purple') classNames='pure-button'}}
{{link-to 'Orange' 'palette' (query-params highlight='orange') classNames='pure-button'}}
{{link-to 'Yellow' 'palette' (query-params highlight='yellow') classNames='pure-button'}}
