<div class='js-permalink l-step'>
  <p>Here is your palette:</p>
  {{color-swatch swatchColor=palette.bg}}
  {{color-swatch swatchColor=palette.highlightPrimary}}
  {{color-swatch swatchColor=palette.highlightSecondary}}
  {{color-swatch swatchColor=palette.textPrimary}}
  {{color-swatch swatchColor=palette.textSecondary}}
</div>
