<div class='pure-g l-spa'>
    <div class='pure-u-1-3 l-nav'>
      <div class='u-vertically-spread l-nav__vertical-menu'>
        <div class='u-vertically-spread__item'>
          <div class='pure-menu'>
              <span class='pure-menu-heading'>Palette</span>
              <ul class='pure-menu-list'>
                  <li class='pure-menu-item'><a class='pure-menu-link' {{action 'goToStep' 'contrast'}}>Contrast</a></li>
                  <li class='pure-menu-item'><a class='pure-menu-link' {{action 'goToStep' 'temperature'}}>Temperature</a></li>
                  <li class='pure-menu-item'><a class='pure-menu-link' {{action 'goToStep' 'intensity'}}>Intensity</a></li>
                  <li class='pure-menu-item'><a class='pure-menu-link' {{action 'goToStep' 'highlight'}}>Highlight</a></li>
                  <li class='pure-menu-item'><a class='pure-menu-link' {{action 'goToStep' 'demo'}}>Demo</a></li>
                  <li class='pure-menu-item'><a class='pure-menu-link' {{action 'goToStep' 'permalink'}}>Permalink</a></li>
              </ul>
              <span class='pure-menu-heading'>{{contrast}} - {{intensity}} - {{temperature}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class='pure-u-2-3'>
      {{#palette-step stepClassName='contrast'}}
        <p>Choose contrast:</p>
        <a class='pure-button' {{action 'setContrast' 'high'}}>High</a>
        <a class='pure-button' {{action 'setContrast' 'low'}}>Low</a>
      {{/palette-step}}

      {{#palette-step stepClassName='temperature'}}
        <p>Choose temperature:</p>
        <a class='pure-button' {{action 'setTemperature' 'warm'}}>Warm</a>
        <a class='pure-button' {{action 'setTemperature' 'cool'}}>Cool</a>
      {{/palette-step}}

      {{#palette-step stepClassName='intensity'}}
        <p>Choose intensity:</p>
        <a class='pure-button' {{action 'setIntensity' 'bold'}}>Bold</a>
        <a class='pure-button' {{action 'setIntensity' 'muted'}}>Muted</a>
      {{/palette-step}}

      {{#palette-step stepClassName='highlight'}}
        <p>Choose highlight color:</p>
        {{color-swatch swatchColor='#F44336'}}
        {{color-swatch swatchColor='#E91E63'}}
        {{color-swatch swatchColor='#9C27B0'}}
        {{color-swatch swatchColor='#673AB7'}}
        {{color-swatch swatchColor='#3F51B5'}}
        {{color-swatch swatchColor='#2196F3'}}
      {{/palette-step}}

      {{#palette-step stepClassName='demo' palette=palette}}
        <div class='pure-u-1' style='background-color:{{palette.bg}}; height: 100vh;'>
          <div class='u-vertically-centered'>
            <div class='u-padding'>
              <h1 style='color:{{palette.textPrimary}}'>Demo</h1>
              <hr style='border-color:{{palette.highlightSecondary}}'>
              <p style='color:{{palette.textPrimary}}'>
                Stumptown kogi banh mi bespoke asymmetrical.
                Banjo yr quinoa roof party, sriracha <a style='color:{{palette.highlightPrimary}}'>pabst humblebrag irony</a> butcher lumbersexual chicharrones brunch.
                Gastropub craft beer meh, authentic lomo XOXO cliche banh mi.
                Mlkshk bushwick four dollar toast kickstarter bicycle rights brooklyn.
              </p>
              <br>
              <p style='color:{{palette.textPrimary}}'>
                Raw denim heirloom ennui, lo-fi yuccie cold-pressed listicle.
                You probably haven't heard of them <a style='color:{{palette.highlightPrimary}}'>hashtag keffiyeh shoreditch</a>.
                IPhone pinterest master cleanse shoreditch banjo, roof party neutra.
                Selfies leggings etsy +1 retro, kinfolk taxidermy normcore
              </p>
              <br>
              <button class='pure-button' style='background-color:{{palette.highlightPrimary}}'>Kale chips NOW</button>
              <button class='pure-button' style='background-color:{{palette.textPrimary}}'>Kale chips LATER</button>
            </div>
          </div>
        </div>
      {{/palette-step}}

      {{#palette-step stepClassName='permalink' palette=palette}}
        <p>Here is your palette:</p>
        {{color-swatch swatchColor=defaultPalette.primary}}
        {{color-swatch swatchColor=defaultPalette.lightPrimary}}
        {{color-swatch swatchColor=defaultPalette.darkPrimary}}
        {{color-swatch swatchColor=defaultPalette.secondary}}
        {{color-swatch swatchColor=defaultPalette.tertiary}}
        {{color-swatch swatchColor=defaultPalette.accent}}
        {{color-swatch swatchColor=defaultPalette.neutral}}
      {{/palette-step}}
    </div>
</div>
