<div class='pure-g l-spa'>
    <div class='pure-u-1-3 l-nav'>
      <div class='u-vertically-spread l-nav__vertical-menu'>
        <div class='u-vertically-spread__item'>
          <div class='pure-menu'>
              <span class='pure-menu-heading'>Palette</span>
              <ul class='pure-menu-list'>
                  <li class='pure-menu-item'><a class='pure-menu-link' {{action 'goToStep' 'luminosity'}}>Luminosity</a></li>
                  <li class='pure-menu-item'><a class='pure-menu-link' {{action 'goToStep' 'temperature'}}>Temperature</a></li>
                  <li class='pure-menu-item'><a class='pure-menu-link' {{action 'goToStep' 'intensity'}}>Intensity</a></li>
                  <li class='pure-menu-item'><a class='pure-menu-link' {{action 'goToStep' 'highlight'}}>Highlight</a></li>
                  <li class='pure-menu-item'><a class='pure-menu-link' {{action 'goToStep' 'demo'}}>Demo</a></li>
                  <li class='pure-menu-item'><a class='pure-menu-link' {{action 'goToStep' 'permalink'}}>Permalink</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>

    <div class='pure-u-2-3'>
      {{#palette-steps/step stepClassName='luminosity'}}
        {{palette-steps/luminosity}}
      {{/palette-steps/step}}

      {{#palette-steps/step stepClassName='temperature'}}
        {{palette-steps/temperature}}
      {{/palette-steps/step}}

      {{#palette-steps/step stepClassName='intensity'}}
        {{palette-steps/intensity}}
      {{/palette-steps/step}}

      {{#palette-steps/step stepClassName='highlight'}}
        {{palette-steps/highlight}}
      {{/palette-steps/step}}

      {{#palette-steps/step stepClassName='demo'}}
        {{palette-steps/demo}}
      {{/palette-steps/step}}

      {{#palette-steps/step stepClassName='permalink'}}
        {{palette-steps/permalink}}
      {{/palette-steps/step}}
    </div>
</div>
